.wrapper_userinfo {
  color: #5a5a5a;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Space between rows */
}
#wel {
  display: flex;
  gap: 0.4rem;
}
.wrapper_userinfo #i1,
#i2,
#i3,
#i4 {
  display: flex;
  align-items: center; /* Align icons and text vertically */
  gap: 8px;
  padding: 5px;
  cursor: pointer;
}

#i1:hover,
#i2:hover,
#i3:hover,
#i4:hover {
  background-color: #ececec;
  width: 100%;
}
.wrapper_userinfo #i1:hover svg,
.wrapper_userinfo #i2:hover svg,
.wrapper_userinfo #i3:hover svg,
.wrapper_userinfo #i4:hover svg {
  color: #007bff; 
}
